
/* <style> */
p{
    font-size: 36px;
    color: red;
    font-family: Arial, Helvetica, sans-serif; *
    text-decoration: line-through;
    background: yellow;
    font-weight: 800;
    border-width: 800;
    border: 10px solid black; 
}
/* </style> */